header {
  min-width: 100%;
}

#header--container {
  width: 90%;
  max-width: var(--max-width);
  padding: var(--s0) 0;
  margin: 0 auto;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  color: var(--text);

  & a {
    color: var(--text);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

#header--title a {
  font-size: var(--s2);
  font-weight: 500;
  &:hover {
    text-decoration: none;

  }
}