:root {
  --background-color: #ffffff;
  --background-color-secondary: #301e4e;
  
  --headline: #1f1135;
  --text-paragraph: #1f1135;
  --sub-headline: #301e4e;
  
  --link-color: #ff6e6c;
  
  --tag-color: #301e4e;
  
  --button-color: #ff636c;
}