<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    {% include "partials/meta.njk" %}
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="layout">
      <div id="main-container" role="document">
        {% include "partials/header.njk" %}
        <main>
            {{ content | safe }}
        </main>
      </div>
      {% include "partials/footer.njk" %}
    </div>
  </body>
</html>