---
layout: base
---

<p>
    <a href="../"> &laquo; Back to posts</a>
</p>
<article>
    <h2>{{ title }}</h2>
    <time>{{ date | dateFilter }}</time>
    {{ content | safe }}
    {% for tag in tags %} {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl | url }}">{{ tag }}</a>
    {% endfor %}
</article>
