.tags--container {
    padding: var(--s-1) 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--s0);
}

.tag {
    & a {
        padding: var(--s-2) var(--s-1);
        color: var(--text-secondary);
        text-decoration: none;
        background: var(--background-color-secondary);
    }
}
