---
layout: base
permalink: /about/
---

<article>
    <h2>About {{ site.name }}</h2>
    <p>
        {{ site.name }} is a small 11ty starter project to help you build your
        next project.
    </p>
    <p>
        Built with love ❤️ and coffee ☕️ in Georgia.
    </p>
</article>
