<footer>
  <div id="footer--container">
    <div id="footer--left">
      <a href="{{ site.githubUrl }}">
        {{ site.name | lower }} 
      </a>
    </div>
    <div id="footer--right"> 
      {{ site.copyright }}
    </div>
  </div>
</footer>