<nav>
    <ul>
        {%- for item in nav.items -%}
        <a href="{{ item.url }}" title="{{ item.title }}">
            <li>
                {{ item.name }}
            </li>
        </a>
        {%- endfor -%}
    </ul>
</nav>
