<nav role="navigation">
    <ul>
        {%- for item in nav.items -%}
        {%- if item.url -%}
            {%- set Current = (item.url == page.url) -%}
            {%- set Parent = item.url != '/' and item.url in page.url -%}
            <li>
                <a class="{% if Current or Parent %}nav--active{% endif %}" href="{{ item.url }}" title="{{ item.title }}">
                    {{ item.name }}
                </a>
            </li>
            {%- endif -%}
        {%- endfor -%}
    </ul>
</nav>
