---
layout: base
title: Home
permalink: '/'
heading: A Mildly Opinionated Eleventy Starter
---

<article>
    <h1>
        {{ heading }}
    </h1>
    <p>
        Macaroon marzipan bear claw icing cake cotton candy liquorice I love oat
        cake. Chocolate sesame snaps powder shortbread icing sweet liquorice
        sweet. Marzipan soufflé chupa chups I love I love. Powder I love cotton
        candy candy marzipan sesame snaps tootsie roll. Muffin chocolate bar
        pudding cake jelly toffee tootsie roll toffee.
    </p>
    <h3>Bullet List</h3>
    <ul>
        <li>Lollipop</li>
        <li>Apple pie</li>
        <li>Caramels</li>
    </ul>
    <p>
        Pudding marzipan candy I love cake shortbread candy jelly cookie. Sugar
        plum I love cheesecake oat cake lemon drops. Dragée chocolate jelly-o
        icing I love topping. Tiramisu pastry ice cream marshmallow topping
        cotton candy marshmallow. Bear claw carrot cake carrot cake tart cake
        pastry. Powder chocolate cake pie cake wafer.
    </p>
</article>
