---
layout: base
title: Home
permalink: '/'
heading: A Mildly Opinionated Eleventy Starter
---

<article>
    <h1>
        {{ heading }}
    </h1>
    <p>
        Features include: 
        <ul>
            <li>CSS Pipeline (Sass > CleanCSS)</li>
            <li>HTML Minification</li>
            <li>Eleventy SVG Sprites</li>
            <li>Eleventy RSS</li>
            <li>Post Date Formatting Filter</li>
            <li>Post Excerpts</li>
        </ul>
    </p>
    <p>Visit the <a href="{{ site.githubUrl }}">eleventonia repo</a> for more information.</p>
</article>
