---
layout: base
title: Tag
pagination:
    data: collections
    size: 1
    filter: all
    alias: tag
permalink: /tags/{{ tag | slug }}/
eleventyComputed:
    title: Tagged “{{ tag }}”
---

<h2>Posts filed under “{{ tag }}”</h2>
<ul>
    {% set postlist = collections[ tag ] %} 
    {% for post in postlist | reverse %}
    <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        <time>{{ post.date | dateFilter }}</time>
    </li>
    {% endfor %}
</ul>