
#layout {
    display: flex;
    flex-direction: column;
    // min-height: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(
        310deg,
        var(--background-color-tertiary),
        var(--background-color-tertiary) 20%,
        var(--background-color) 20%
    );
}
#main-container {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding-bottom: var(--s1);
    flex: 1 0 auto;
    overflow: hidden;
    & main {
        max-width: 65ch;
    }
}
